.signup{
    padding: 20px;
    padding-inline: 20px;
    justify-content: space-between;
    height: 100vh;
}
.signup form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signUp_input_container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.radio_container p{
    text-transform: capitalize;
    margin-block: 10px 5px;
    text-align: left;
    font: normal normal normal 13px/17px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
}
.radio_container p span{
    color: #DD4A3D;
    width: 6px;
    height: 15px;
}
.radio_container label{
    padding-inline:5px 10px ;
    text-align: left;
    font: normal normal normal 14px/17px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
}
.radio_container input{
    opacity: 1;
    color: #6C25FF;
    accent-color: #6C25FF;

}
.signup_btn_create{
    color: #FFFFFF !important;
    background: #6C25FF 0% 0% no-repeat padding-box !important;

}
.signup_btn_create:hover{
    background: rgba(108, 37, 255,0.8) 0% 0% no-repeat padding-box !important;
}